h3 {
    background-color: pink;
    color:blue;
}
h4 {
    background-color: orange;
    color:aquamarine
}
h5 {
    background-color: brown;
    color:bisque
}
h2 {
    background-color: aqua;
    color:purple;
}
p {
    background-color: greenyellow;
    color:aquamarine;
}
